.page{
    min-height: 100vh;
    background-color: darkgray;
    color: yellow;
}
.page__title{
    font-size: 7rem;
    margin-bottom: var(--separation);
    margin-top: var(--separation);
    text-align: center;
}
@media ( min-width: 600px ) { 
    .page__title{
        font-size: 10rem;
        
    }
}